header {
    padding: 17px;
    text-align: center;
    font-size: 30px;
}

nav {
    text-align: right;
}

nav li {
    padding: 10px;
    color: #B42D4A;
    display: inline-block;
}

.line-1, .line-2, .line-3 {
    border: none;
    height: 3px;
    width: auto;
    margin: 1em 0;
    background-color: #EEC89C;
}

.line-3 {
    margin-top: 65px;
}

.date {
    padding: 10px;
    text-align: right;
}

.age {
    padding: 10px;
    text-align: right;
}

.genre {
    padding: 10px;
    text-align: right;
}

h1 {
    color: #B42D4A;
    text-align: left;
}

img {
    display: block;
    margin: auto;
    justify-content: center;
}

.desc {
    text-align: left;
}

footer p {
    text-align: center;
}

@media (min-width:1024px) {
    .line-3 {
        display: none;
    }


}