
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
    font-family: Roboto, sans-serif;
}
header,
main,
footer {
    max-width: 1000px;
    margin: 1rem auto;
    border: 1px solid #ccc;
    padding: 1rem;
    background-color: lightblue;
}
h1 {
    text-align: center;
}
section {
    padding: 20px;
    background-color: white;
    margin: 1em;
    border: 1px solid #ccc;
}
nav a {
    padding: 20px;
    color: black;
    display: none;
    text-decoration: none;
}

nav.active a{
    display: block;
    text-align: center;

}

nav a:hover {
    text-decoration: none;
    color: #616061;
}
.menu-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
}
.bar1, .bar2, .bar3 {
    width: 30px;
    height: 4px;
    background-color: black;
    margin: 5px 0;
}
footer {
    text-align: left;
}

main {
    display: flex;
    flex-direction: column;
}

.open .bar1 {
    transition-duration: .5s;
    transform: translate(0, 8px) rotate(-45deg);
}

.open .bar2 {
    transition-duration: .5s;
    opacity: 0;
}

.open .bar3 {
    transition-duration: .5s;
    transform: translate(0, -11px) rotate(45deg);
}

@media screen and (min-width: 700px) {
    main{
        flex-direction: row;
        flex-wrap: wrap; 
    }
    section{
        width: calc(50% - 40px - 2em - 2px);
    }

    nav {
        text-align: right;
    }

    nav a, 
    nav.active a{
        display: inline-block;
    }
}

@media screen and (min-width: 1024px) {
    main{
        flex-direction: row;
        flex-wrap: nowrap;
    }
}