section {
    background-color: beige;
    border-radius: 20px;
    height: 620px;
    width: 350px;
    margin: 40px auto;
}

h1 {
    background-color: #477962;
    height: 30px;
    width: auto;
    text-align: center;
    padding: 10px;
}

img {
    height: 350px;
    width: auto;
    border-radius: 20px;
    padding-left: 30px;
}

#info {
    padding-left: 10px;
    color: #000;
}

#buttons {
    display: inline-block;
    margin: 10px;
    margin-left: 70px;
}

#level, #attack {
    border-radius: 20px;
    background-color: #477962;
    height: 40px;
    width: 100px;
}

#gameOver {
    display: none;
}