#content {
    margin: auto 300px;
}

h1 {
    text-align: center;
    font-size: 46px;
    text-transform: uppercase;
    padding: 10px;
}

h2 {
    color: #43abdb;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
}

hr {
    width: 600px;
}

.info {
    margin: auto 150px;
}

h3 {
    font-size: 22px;
    padding: 10px;
    text-align: left;
    font-weight: normal;
}

h4 {
    font-style: italic;
    font-weight: normal;
}

li {
    padding: 10px;
    font-size: 20px;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img {
    height: 70px;
    width: auto;
}
