
body {
    background-size: 100vw 100vh;
    background-image: url('https://sarahpenfold07.github.io/WDD-131/week_2/images/home_page.jpg');
    margin: 0;
    padding: 20px;
    transition: background-image 1s ease;
}

.container {
    text-align: center;
    padding: 2rem;
    max-width: 600px;
    margin: 2rem auto;
}

select {
    padding: 0.5rem;
    font-size: 1rem;
}

#logo {
    margin-top: 1rem;
    width: 300px;
}

.content {
    margin-top: 3rem;
    font-size: 1.5rem;
}