        body {
            background-color: #e4e4e7;
        }
        #content {
            text-align: center;
            margin: 50px 300px;
        }

        h1 {
            text-align: center;
            font-size: 30px;
        }

        p {
            color: #2978ae;
            text-align: center;
            font-size: 20px;
        }

        hr {
            background-color: #2978ae;
            height: 3px;
            width: 600px;
        }

        img {
            margin: auto 200px;
            height: 100px;
            width: auto;
            padding: 20px;
        }

        h2 {
            font-size: 28px;
            text-align: center;
        }

        .list {
            list-style-type: none;
            text-align: left;
            font-size: 23px;
            padding: 10px;
        }

        #topics {
            text-align: center;
            text-decoration: none;
            margin: auto 220px;
        }