@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

#header {
    display: flex;
    align-items: center;
    margin: 30px;
}

#logo img {
    height: 120px;
}

#recipe-text p {
    font-size: 70px;
    font-family: "Amatic SC", sans-serif;
}

#search-text {
    display: flex;
    align-items: center;
    padding-right: 5px;
    border: 3px solid #000;
    border-radius: 10px;
    width: 100%;
}

#search-text img {
    border-left: 2px solid #ddd;
    padding: 5px;
}

#search-text input {
    border: none;
    outline: none;
    flex: 1;
    margin: 10px;
    padding-right: auto;
}

#search-bar {
    display: flex;
    align-items: center;
    border-bottom: 3px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

#search-text img {
    height: 30px;
}

#recipe-container {
    border: 3px solid #000;
    border-radius: 10px;
    padding: 15px;
    width: fit-content;
}

#apple-crisp-img img {
    height: auto;
    width: 100%;
    border-radius: 5px;
}

#button{
    margin: 5px;
}

#recipe-content p:first-child {
    font-family: "Amatic Sc", sans-serif;
    color: #3CA6E5;
    font-size: 30px;
}

#recipe-content p:last-child {
    display: none;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social img {
    padding: 10px;
    height: 30px;
}

#link {
    text-align: center;
}

@media screen and (min-width: 1024px) {

    #recipe-container {
        display: flex;
        flex-direction: row;
        margin: 20px;
        height: auto;
        padding: 20px;
    }

    #apple-crisp-img img {
        height: 90%;
        width: auto;
    }

    #recipe-content p:last-child {
    display: flex;
    }

    #search-bar {
        width: 100%;
    }

    #search-text {
        width: 100%;
        margin: 20px;
    }

    #recipe-content p:first-child {
        font-size: 50px;
    }

    #recipe-content p:last-child {
        justify-content: flex-start;
    }

    .social {
        justify-content: flex-end;
    }

    #link {
        text-align: left;
    }
}