* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    background-color: #CCCCCC;
}

main{
    padding: 10px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-rows: auto;
}

img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border: #fff solid 3px;
    box-shadow: 10px 10px 5px #000;
    box-sizing: border-box;
}

section {
    padding: 10px 0px 40px 20px;
}

header {
    font-size: 30px;
    background-color: #2A81E2;
    text-align: center;
    height: fit-content;
    padding: 10px;
}

h1 {
    color: #fff;
    padding: 10px;
    font-size: 60px;
}

h2 {
    font-size: 40px;
    color: #fff;
    padding: 10px;
}

nav {
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 20px;
    display: none;
}

nav.active a{
    display: block;
}

h3{
    font-size: 40px;
    text-align: center;
}

footer {
    background-color: #2A81E2;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}



@media screen and (min-width: 700px) {
    main{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;

    nav {
        text-align: center;
    }

}}

@media screen and (min-width: 1024px) {
    main{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
    }

    h2 {
        display: none;
    }

    nav a, 
    nav.active a{
        display: inline-block;
    }
}