* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    background-color: #CCCCCC;
}

img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    padding: 10px;
    border: #fff solid 2px;
    box-shadow: 10px 10px 5px #000;
}

header {
    font-size: 30px;
    background-color: #2A81E2;
    text-align: center;
    height: fit-content;
}

h1 {
    color: #fff;
}

h2 {
    font-size: 40px;
    color: #fff;
    padding: 10px;
}

nav {
    text-align: center;
}

nav.active a{
    display: block;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 20px;
    display: none;
}

h3{
    font-size: 40px;
    text-align: center;
}

main{
    padding: 10px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-rows: auto;
}

footer {
    background-color: #2A81E2;
    text-align: center;
    height: 50px;
}

@media screen and (min-width: 700px) {
    main{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;

    nav {
        text-align: center;
    }
}}

@media screen and (min-width: 1024px) {
    main{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
    }

    h2 {
        display: none;
    }

    nav a{
        display: inline-block;

    }
}